html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    margin: 0;
    font-family:'Barrio', cursive;
}
body{
    background: #c1c1c1;
    background: -webkit-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: -o-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: -moz-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: linear-gradient(#c1c1c1, white, #c1c1c1);
}
a{
    color: #b10000;
    text-decoration: none;
}
    a:hover{
        text-decoration: underline;
    }
    a:visited{
        color: #b10000;
    }
body, html, div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        
    
}
 
 <style>
  
  .letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
  }
  
  .letter-button-color {
    color: darkcyan;
  }
  
  #display {
    margin-top: 78px;
    height: 500px;
    width: 220px;
    margin-left: 60px;
  }
  
  #buttons {
    padding-top: 60px;
  }
  
  #clear {
    margin-left: 20px;
    font-size: 25px;
    color: black;
    border-style: solid;
    width: 100px;
  }
</style>

